<!DOCTYPE html>
<html lang="en">
<head>
     {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>uGrow</title>
     <link rel="stylesheet" type="text/css" href="{% static 'app/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'app/login.css' %}" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/f4042fae21.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300&display=swap" rel="stylesheet">

</head>
<body>

   <div class="popup">
              <div class="popup-content">
                   <div class="popup-body">
                        <div class="login-box">
                            <img src="{% static 'app/images/close.png' %}" alt="user" class="close">
                            <i class="fa fa-pagelines fa-4x sign"></i>
                            <li class="forgot" style="color: #524532; font-size: 18px; text-align:center;">Login to rate our services</li>
                            <div class="textbox">
                            <i class="fa fa-user icon" aria-hidden="true"></i>
                            <input type="text" placeholder="Username" name="" value="">
                        </div>
                        <div class="textbox">
                            <i class="fa fa-lock icon" aria-hidden="true"></i>
                            <input type="text" placeholder="Password" name="" value="">
                        </div>
                         <div class="forgot">
                               <li><a href="#" style="color:blue;">Forgot Password?</a></li>
                            </div>
                        <div>
                        <input class="button" type="submit" name value="Submit" id="submit" class="button">
                        </div>
                        </div>
                 </div>
              </div>
          </div>
        <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
        <script src="{% static 'app/nav.js' %}"></script>
</body>
</html>